@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
  width: 80%;
  margin: auto;
}


.tabBoxOne {  
  background-color: #007bff;
  padding: 40px;  
  width: 80%;  
  margin: 40px auto;  
  border-radius: 15px;  
  box-shadow: 4px 4px 4px rgb(6, 5, 5, 0.5), -4px -4px 4px rgb(6, 5, 5, 0.5);  
}  
  
.tabContainerOne {  
  display: flex;  
  justify-content: center;  
  align-items: center;
}  
  
.tabOne {  
  background-color: #ffffff;
  padding: 15px 30px;  
  border: none;  
  cursor: pointer;  
  font-size: 16px;  
  margin-right: 10px;  
}  
  
.tabOne:last-child {  
  margin-right: 0;  
}

.tabOne:hover{
  background-color: rgb(224, 240, 253);
}


.tabBoxTwo {  
  background-color: #007bff;
  padding: 40px;  
  width: 80%;  
  margin: 40px auto;  
  border-radius: 15px;  
  box-shadow: 4px 4px 4px rgb(6, 5, 5, 0.5), -4px -4px 4px rgb(6, 5, 5, 0.5); 
  display: none;
}  

.tabContainerTwo{
  display: flex;  
  justify-content: center;  
  align-items: center;
}
  
.tabTwo {  
  background-color: #ffffff;
  border: none;  
  padding: 15px 30px;  
  font-size: 16px;  
  cursor: pointer;  
  margin-right: 10px;  
}  
  
.tabTwo:last-child {  
  margin-right: 0;  
}  

.tabTwo:hover{
  background-color: rgb(224, 240, 253);
}
  

/* Quiz kutusu */


.quizBoxOne{
  background-color: #007bff;
  padding: 30px;  
  width: 80%;  
  margin: 30px auto;  
  border-radius: 15px;  
  box-shadow: 4px 4px 4px rgb(6, 5, 5, 0.5), -4px -4px 4px rgb(6, 5, 5, 0.5); 
  display: none;
}

.quizContainerOne {
  padding: 10px;
  border-radius: 10px;
}
.questionBoxOne {
  width: 60%;
  background-color: #0651c9;
  color: white;
  margin: 20px auto; /* Üstten ve alttan mesafe bırakıp ortalamak */
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(6, 5, 5, 0.5);
}


.optionsBoxOne {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
}

.optionBoxOne {
  width: 45%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 7px;
}

.optionBoxOne:hover {
  background-color: #0065d1;
}
.navigationBox {
  width: 100%;
  display: flex;
  justify-content: center; /* Ortalamak için */
  align-items: center;
  margin-top: 20px;
}

.arrowLeft, .arrowRight {
  width: 50px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  margin: 0 15px; /* Butonlar arasında boşluk bırak */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.arrowLeft img, .arrowRight img {
  width: 70%;
  height: 70%;
}

.arrowLeft:hover, .arrowRight:hover {
  background-color: rgb(224, 240, 253);
}

.pageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageListBox {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 10px;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.pageListBox:hover {
  background-color: green;
}


/* Results Box  */


.resultsContainer {
  background-color: #007bff;
  padding: 50px;  
  width: 80%;  
  margin: 30px auto;  
  border-radius: 15px;  
  box-shadow: 4px 4px 4px rgb(6, 5, 5, 0.5), -4px -4px 4px rgb(6, 5, 5, 0.5); 
  text-align: center;
  color: white;
  display: none;
}

.resultsContainer h1 {
  margin-bottom: 40px;
  font-size: 30px;
}

.resultsContainer p {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.resultBox {
  color: black;
  font-weight: bold;
}





.true:hover{
  background-color: green;
}

.false:hover{
  background-color: red;
}

.btn-active{
  background-color: green;
}



